/* FILTERS */

.filters_adduser{
    margin-bottom: 45px;
}

.filters_container{
    display: flex;
    justify-content: space-between;
}

.filters{
    width: 352px;
    padding: 12.5px 15px;
    padding-left: 35px;
    padding-right: 0;
    box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.25);
    background-image: url('../img/users/filter.svg');
    background-repeat: no-repeat;
    background-position: calc(50% - 157px);
    border-radius: 5px;
    display: flex;
    align-items: center;
}

.filter{
    padding: 0px;
    margin: 0px;
    margin-right: 15px;
    padding-right: 35px;
    border: none;
    border-right: 1px solid #E5E5E5;
    background-image: url('../img/users/bottom.svg');
    background-repeat: no-repeat;
    font-family: 'Ubuntu';
    background-color: transparent;
    font-weight: 400;
    font-size: 16px;
}

.filter_status{
    border-left: 1px solid #C4C4C4;
    padding-left: 10px;
    background-position: calc(50% + 25px);
}

.filter_fish{
    background-position: calc(50% + 42px);
}

.filter_date{
    background-position: calc(50% + 15px);
    border: none;
    padding-right: 35px;
    margin-right: 0;
}

.adduser{
    width: 200px;
    height: 40px;
    background-color: #1E90FF;
    background-image: url('../img/users/adduserwhite.svg');
    background-repeat: no-repeat;
    background-size: 15%;
    background-position: calc(50% - 60px);
    border: 0.5px solid #1E90FF;
    box-sizing: border-box;
    box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    color: white;
    text-decoration: none;
    /* padding-top: 10px; */
    display: flex;
    align-items: center;
    padding-left: 60px;
}

/* USERS */

.users_wrapper{
    border-radius: 10px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
}

.users_titles{
    display: flex;
    justify-content: space-between;
    background-color: #F8F8F8;
    padding: 5px 60px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom: 2px solid black;
}

.users_title{
    margin: 0;
    padding: 0;
    font-size: 16px;
}

.users_list{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.users_list-scroll{
    height: 400px;
    overflow: auto;
}

.users_list-scroll::-webkit-scrollbar {
    width: 0.7em;
}

.users_list-scroll::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.users_list-scroll::-webkit-scrollbar-thumb {
    background-color: #b9bdbd;
    outline: 1px solid slategrey;
}

.users_item{
    display: flex;
    align-items: center;
    padding: 3px 63px 3px 50px;
    border-bottom: 2px solid black;
}

.users_item:last-child{
    border-bottom: none;
}

.users_item-bg{
    background-color: rgba(196, 196, 196, 0.2);
}

.user_text{
    margin: 0;
    padding: 0;
}

.user_id{
    width: 170px;
    font-size: 17px;
}

.users_status_img_wrapper{
    width: 110px;
    display: flex;
    align-items: center;
}

.users_status_img{
    width: 27px;
}

.user_fullname_wrapper{
    width: 256px;
}

.user_fullname_link{
    color: black;
    text-decoration: none;
}

.user_fullname{
    width: 220px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    margin: 0px;
}

.user_fullname:hover{
    color: dodgerblue;
}

.user_phonenumber_wrapper{
    width: 184px;
    display: flex;
    flex-direction: column;
}

.user_phonenumber_1{
    text-decoration: none;
    color: black
}

.user_phonenumber_1:hover{
    color: dodgerblue;
}

.user_phonenumber_2{
    text-decoration: none;
    color: black
}

.user_phonenumber_2:hover{
    color: dodgerblue;
}

.user_date{
    width: 152px;
}

.user_info{
    width: 22px;
    height: 28px;
    background-image: url('../img/users/info.svg');
    background-position: center center;
    background-repeat: no-repeat;
    border: none;
    background-color: transparent;
}

.users_list-scroll .users_item{
    padding-right: 40px
}

.users_list-scroll .users_item .user_fullname_wrapper{
    width: 255px;
}

.users_list-scroll .users_item .user_phonenumber_wrapper{
    width: 186px;
}

.users_list-scroll .users_item .user_date{
    width: 153px;
}

/* MODAL */

.modal_header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid black;
    padding-top: 15px;
    margin-bottom: 25px;
}

.modal_user_date{
    margin: 0px;
    padding: 0px;
    padding-left: 35px;
    background-image: url('../img/users/clock-regular.svg');
    background-repeat: no-repeat;
    background-position: calc(50% - 42px);
    background-size: 20px;
}

.modal_user_id{
    margin: 0px;
    padding: 0px;
}

.modal_user_fullname{
    padding: 0;
    margin: 0;
    margin-bottom: 25px;
    background-image: url('../img/users/user-regular.svg');
    background-position: calc(50% - 277.5px);
    background-repeat: no-repeat;
    background-size: 19px;
    padding-left: 35px;
}

.modal_user_info_wrapper{
    width: 900px;
    display: flex;
}

.modal_user_info_span{
    margin-right: 5px;
    font-weight: bold;
}

.modal_user_info_text{
    width: 550px;
    margin: 0;
    word-break: break-all;
    white-space: normal;
    background-image: url('../img/users/id-card-regular.svg');
    background-position: calc(50% - 260px) calc(50% - 10px);
    background-repeat: no-repeat;
    background-size: 20px;
    padding-left: 35px;
}