html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #222;
    overflow: hidden;
}

img {
    max-width: 100%;
    height: auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container {
    max-width: 1366px;
    padding-left: 100px;
    padding-right: 100px;
    margin-left: auto;
    margin-right: auto;
}

.right_container{
    margin-top: 33px;
    padding-left: 134px;
    padding-right: 144px;
    display: flex;
}

/* MAIN */

.big_wrapper{
    display: flex;
}

/* LEFT */

.left{
    height: 100vh;
    background-color: #4C9A9A;
}

.left_header{
    background-color: #409292;
    padding: 12px 25px;
}

.left_header_logo_link{
    display: flex;
    padding: 0;
    margin: 0;
}

.left_header_logo{
    width: 200px;
}

.left_main_list{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.left_main_item{
    padding: 0;
    margin: 0;
}

.left_main_item--active{
    background-color:  rgba(196, 196, 196, 0.2);
    border-left: 5px solid rgba(42, 82, 190, 0.5);
}

.left_main_item--active .left_main_item_link{
    padding-left: 20px;
}

.left_main_item-last{
    margin-bottom: auto;
}

.left_main_item_link{
    display: flex;
    align-items: center;
    padding: 15px 25px;
    text-decoration: none;
}

.left_main_item_img{
    width: 30px;
    height: 30px;
    margin-right: 25px;
}

.left_main_item_text{
    color: white;
    text-decoration: none;
    font-weight: 400;
    padding: 0;
    margin: 0;
}

.left_footer{
    margin-top: 136%;
}

/* RIGHT */

.right{
    width: 84%;
    height: 100vh;
}

.right_header{
    background-color: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.right_header_container{
    display: flex;
    justify-content: space-between;
    padding: 11px 145px 11px 65px;
}

.right_header_title_wrapper{
    display: flex;
    align-items: center;
}

.right_header_title_img{
    width: 30px;
    height: 30px;
    margin-right: 15px;
}

.right_header_title{
    margin: 0;
    padding: 0;
    font-weight: 500;
    font-size: 20px;
}

.right_header_time_input_wrapper{
    display: flex;
    align-items: center;
}

.right_header_date{
    font-weight: bold;
    margin-right: 15px;
}

.right_header_time{
    font-weight: bold;
    margin-right: 41px;
}

.right_header_input{
    width: 200px;
    height: 40px;
    padding-top: 3px;
    padding-left: 20px;
    border-width: 1px;
    border-color: black;
    border-radius: 5px;
    background-image: url('../img/main/search.svg');
    background-repeat: no-repeat;
    background-size: 11%;
    background-position: calc(50% + 70px);
}

.display_none{
    display: none;
}

.message_modal{
    font-size: 36px;
}

.filters_adduser{
    margin-bottom: 45px;
}

.filters_container{
    display: flex;
    justify-content: space-between;
    /* padding-top: 44px; */
}

.filters{
    width: 352px;
    padding: 12.5px 15px;
    padding-left: 35px;
    padding-right: 0;
    box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.25);
    background-image: url('../img/users/filter.svg');
    background-repeat: no-repeat;
    background-position: calc(50% - 157px);
    border-radius: 5px;
    display: flex;
    align-items: center;
}

.filter{
    padding: 0px;
    margin: 0px;
    margin-right: 15px;
    padding-right: 35px;
    border: none;
    border-right: 1px solid #E5E5E5;
    background-image: url('../img/users/bottom.svg');
    background-repeat: no-repeat;
    font-family: 'Ubuntu';
    background-color: transparent;
    font-weight: 400;
    font-size: 16px;
}

.filter_status{
    border-left: 1px solid #C4C4C4;
    padding-left: 10px;
    background-position: calc(50% + 25px);
}

.filter_fish{
    background-position: calc(50% + 42px);
}

.filter_date{
    background-position: calc(50% + 15px);
    border: none;
    padding-right: 35px;
    margin-right: 0;
}

.error_border_color{
    border-color: red;
}